@import '~nativescript-theme-core/scss/light';
@import '../../../theme/colors';

/* Add mobile styles for the component here.  */
FlexboxLayout {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 300;
}

.btn-success {
    background-color: $success;
    border-width: 1;
    border-color: $success;
    color: $white;
}

.btn-danger {
    background-color: $danger;
    border-width: 1;
    border-color: $danger;
    color: $white;
}

.btn-success:disabled,
.btn-danger:disabled {
    background-color: #ccc;
    color: #777777;
    border-color: #ccc;
}

.btn-alt {
    horizontal-alignment: center;
    font-size: 30;
    margin-top: 15;
}

.animate-button {
    animation-name: slide-up;
    animation-iteration-count: 1;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

@keyframes slide-up {
    from {
        transform: translateY(30);
    }

    to {
        transform: translateY(0);
    }
}
