<ns-action-bar [title]="isLogin ? 'Login' : 'Signup'" [showBackButton]="false" [hasMenu]="false"></ns-action-bar>
<StackLayout class="form" [formGroup]="form">
    <StackLayout class="input-field">
        <Label class="label" text="E-Mail" [ngClass]="{invalid: !emailControlIsValid}"></Label>
        <TextField class="input" returnKeyType="next" keyboardType="email" autocorrect="false" autocapitalizationType="none" formControlName="email" #emailElement></TextField>
        <Label *ngIf="!emailControlIsValid" text="Please enter a valid E-Mail"></Label>
    </StackLayout>
    <StackLayout class="input-field">
        <Label class="label" text="Password" [ngClass]="{invalid: !passwordControlIsValid}"></Label>
        <TextField class="input" returnKeyType="done" autocorrect="false" autocapitalizationType="none" [secure]="true" hint="Min 6 characters" formControlName="password" #passwordElement></TextField>
        <Label *ngIf="!passwordControlIsValid" text="Please enter a valid Password"></Label>
    </StackLayout>
    <Button [text]="isLogin ? 'Signup Instead' : 'Login Instead'" class="btn btn-flat" (tap)="onSwitch()"></Button>
    <Button *ngIf="!isLoading" [text]="!isLogin ? 'Signup' : 'Login'" class="btn btn-primary btn-rounded-lg" (tap)="onSubmit()" [isEnabled]="form.valid"></Button>
    <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
</StackLayout>
