<ns-action-bar title="Edit Profile" [hasMenu]="false">
    <ActionItem ios.position="right" android.position="actionBar" (tap)="onSave()">
        <Label text="&#xf0c7;" ios:class="fa p-5" android:class="fa p-10" android:fontSize="24"></Label>
    </ActionItem>
</ns-action-bar>

<StackLayout *ngIf="percentComplete === null" class="form">
    <Image *ngIf="!imageSrc" [src]="currentUser.photoURL" [width]="previewSize" [height]="previewSize" stretch="aspectFit"></Image>
    <Image *ngIf="imageSrc" [src]="imageSrc" [width]="previewSize" [height]="previewSize" stretch="aspectFit"></Image>
    <Button class="btn btn-rounded-lg" text="Upload Profile Pic" (tap)="onSelectImage()" horizontalAlignment="center"></Button>\
    <Button class="btn btn-danger btn-rounded-lg" text="Remove Profile Pic" (tap)="onRemovePicture()" horizontalAlignment="center"></Button>
    <StackLayout class="input-field">
        <Label class="label" text="Display Name" [ngClass]="{invalid: !displayControl.valid && displayControl.touched}"></Label>
        <TextField [(ngModel)]="displayName" name="displayName" class="input" required #displayControl="ngModel"></TextField>
        <Label *ngIf="!displayControl.valid && displayControl.touched" text="Please enter a valid Display Name"></Label>
    </StackLayout>
</StackLayout>

<Progress *ngIf="percentComplete !== null" [value]="percentComplete" maxValue="100" class="m-20">
</Progress>
